/* corrigir bug busca com borda azul */
a:focus-visible,
button:focus-visible,
input:focus-visible,
summary:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.nextra-search input:focus {
  box-shadow: 0 0 0 0px #000, 0 0 0 1px rgb(3 3 3/0.2), 0 0 transparent, 0 0 transparent !important;
}

.dark .nextra-search input:focus {
  box-shadow: 0 0 0 0px #fff, 0 0 0 1px rgb(243 244 246/0.2), 0 0 transparent, 0 0 transparent !important;
}

/* corrigido bug busca com borda azul */
/* corrigir busca com fundo pouco diferente do tema */
.dark .nextra-search ul {
  background-color: hsl(0, 0%, 1%) !important;
}

.logo-name {
  padding: 0.5rem 0.5rem 0.5rem 0;
  mask-image: linear-gradient(60deg,
      black 25%,
      rgba(0, 0, 0, 0.2) 50%,
      black 75%);
  font-weight: 800;
  mask-size: 400%;
  mask-position: 0%;
}

.logo-name:hover {
  mask-position: 100%;
  transition: mask-position 1s ease, -webkit-mask-position 1s ease;
}